@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%;
  bottom: 0; }

ol, ul {
  list-style: none; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

::-moz-selection {
  background: #ffa256;
  color: #fff; }

::selection {
  background: #ffa256;
  color: #fff; }

.section-title {
  color: #000;
  font-family: "Overpass";
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  padding: 0 70px; }

@media (max-width: 576px) {
  .section-title {
    font-size: 26px; } }

.attention-title {
  color: #000;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px; }

.little-title {
  color: #000000;
  font-family: "Overpass";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 15px; }

.section-p {
  color: #4c4b4b;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; }

.background-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #ef6c00;
  font-family: "Source Sans Pro";
  border-radius: 4px;
  padding: 10px 100px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer; }
  .background-btn:hover {
    background: #ff943d;
    color: #fff; }

@media (max-width: 576px) {
  .background-btn {
    width: 100%; } }

.disable-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 45px;
  background: #d7d7d7;
  font-family: "Source Sans Pro";
  border-radius: 4px;
  padding: 10px 100px;
  color: #8d8c8c;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border: none; }
  .disable-btn:focus {
    border: none;
    outline: none; }

.orange-link {
  color: #ef6c00;
  font-family: "Source Sans Pro";
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .orange-link:hover {
    color: #ff943d; }

.border-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 55px;
  border-radius: 4px;
  border: 2px solid #ef6c00;
  color: #ef6c00;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 700;
  padding: 10px 100px;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .border-btn:hover {
    background: #ffdabc; }

@media (max-width: 576px) {
  .border-btn {
    width: 100%; } }

.bg-img {
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  min-height: 576px; }

.v-select {
  position: relative;
  font-family: inherit; }

.v-select,
.v-select * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@-webkit-keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

@keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

.vs__fade-enter-active,
.vs__fade-leave-active {
  -webkit-transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  -o-transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1); }

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0; }

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  cursor: not-allowed;
  background-color: #f8f8f8; }

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px; }

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0; }

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px; }

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right; }

.vs__dropdown-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.vs__selected-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 2px;
  position: relative; }

.vs__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 6px 0 3px; }

.vs--searchable .vs__dropdown-toggle {
  cursor: text; }

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer; }

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  -o-transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855), -webkit-transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
  -webkit-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
       -o-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
          transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855); }

.vs--open .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(1);
  -ms-transform: rotate(180deg) scale(1);
      transform: rotate(180deg) scale(1); }

.vs--loading .vs__open-indicator {
  opacity: 0; }

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px; }

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff; }

.vs__no-options {
  text-align: center; }

.vs__dropdown-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 20px;
  clear: both;
  color: #8d8c8c;
  white-space: nowrap;
  height: 55px;
  -webkit-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s; }

.vs__dropdown-option:hover {
  cursor: pointer; }

.vs__dropdown-option--highlight {
  background: #fce2cc;
  color: #000; }

.vs__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #8d8c8c;
  line-height: 1.4;
  margin: 4px 2px 0;
  padding: 0 0.25em; }

.vs__deselect {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff; }

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent; }

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4; }

.vs--single.vs--searching .vs__selected {
  display: none; }

.vs__search::-ms-clear,
.vs__search::-webkit-search-cancel-button,
.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration {
  display: none; }

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0;
  padding: 0 7px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.vs__search::-webkit-input-placeholder {
  color: inherit; }

.vs__search:-ms-input-placeholder {
  color: inherit; }

.vs__search::-ms-input-placeholder {
  color: inherit; }

.vs__search::-moz-placeholder {
  color: inherit; }

.vs__search::placeholder {
  color: inherit; }

.vs--unsearchable .vs__search {
  opacity: 1; }

.vs--unsearchable .vs__search:hover {
  cursor: pointer; }

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2; }

.vs__spinner {
  -ms-flex-item-align: center;
      align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left-color: rgba(60, 60, 60, 0.45);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s linear infinite;
          animation: vSelectSpinner 1.1s linear infinite;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em; }

.vs--loading .vs__spinner {
  opacity: 1; }

.header {
  background: #fff;
  z-index: 10;
  height: 65px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .header-logo {
    max-width: 135px; }
    .header-logo a {
      width: 100%; }
      .header-logo a img {
        width: 100%; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu li {
      margin-right: 30px; }
      .header-menu li a {
        color: #000;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 400;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .header-menu li:last-child {
        margin-right: 0; }
      .header-menu li:hover a {
        color: #ef6c00; }
    .header-menu .li-active a {
      color: #283593; }
  .header-cabinet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-cabinet__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin-right: 10px; }
    .header-cabinet__name {
      color: #000;
      font-family: "Source Sans Pro";
      font-size: 14px;
      font-weight: 400; }
    .header-cabinet__email {
      color: #8d8c8c;
      font-family: "Source Sans Pro";
      font-size: 12px;
      font-weight: 400; }
    .header-cabinet__photo {
      margin-right: 15px;
      max-width: 40px;
      border-radius: 100%;
      overflow: hidden; }
      .header-cabinet__photo img {
        width: 100%; }
    .header-cabinet__sign-out {
      width: 24px; }
      .header-cabinet__sign-out img {
        width: 100%; }
  .header-mob-button {
    display: none;
    cursor: pointer; }

@media (max-width: 992px) {
  .header-menu {
    display: none; }
  .header-cabinet {
    display: none; }
    .header-cabinet__photo {
      max-width: unset;
      margin: 0;
      margin-bottom: 25px;
      width: 65px;
      height: 65px;
      overflow: hidden;
      border-radius: 100%; }
      .header-cabinet__photo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .header-cabinet__photo img {
        width: 100%; }
    .header-cabinet__text {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-right: 0; }
    .header-cabinet__name {
      font-size: 18px; }
    .header-cabinet__email {
      font-size: 14px; }
  .header-mob-button {
    display: block;
    z-index: 12; }
  .header-mob {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    height: 100vh;
    padding: 0px 20px;
    z-index: 11;
    min-width: 250px;
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.72);
            box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.72); }
    .header-mob__cabinet {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 25px;
      padding-top: 30px;
      border-bottom: 1px solid #e2e2e2; }
    .header-mob .header-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 30px; }
      .header-mob .header-menu li {
        margin-right: 0;
        margin-bottom: 30px; }
        .header-mob .header-menu li:last-child {
          margin-bottom: 0; } }

.slide-fade-enter-active {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.slide-fade-leave-active {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

.slide-fade-enter, .slide-fade-leave-to {
  -webkit-transform: translate(-110%, -65px);
      -ms-transform: translate(-110%, -65px);
          transform: translate(-110%, -65px);
  opacity: 0; }

.main-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.main-content {
  max-width: 50%; }

.main-title {
  color: #fff;
  font-family: "Overpass";
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px; }

.main-description {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px; }

@media (max-width: 768px) {
  .main-content {
    max-width: 70%; }
  .main-title {
    font-size: 42px; }
  .main-description {
    font-size: 18px; } }

@media (max-width: 576px) {
  .main-content {
    max-width: 100%;
    width: 100%; }
  .main-title {
    text-align: center;
    font-size: 30px; }
  .main-description {
    text-align: center;
    font-size: 16px; } }

.about_me-section {
  padding-top: 140px;
  padding-bottom: 80px;
  background: #fff; }
  .about_me-section .section-title {
    margin-bottom: 50px; }
  .about_me-section .container {
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    grid-gap: 0 65px; }

.about_me-img img {
  width: 100%; }

.about_me-content .section-p {
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .about_me-section .container {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 0 30px; }
  .about_me-img {
    -ms-flex-item-align: center;
        align-self: center; } }

@media (max-width: 576px) {
  .about_me-section .container {
    grid-template-columns: 1fr;
    text-align: center; }
  .about_me-img {
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 30px; } }

.relationship-section {
  padding-bottom: 140px;
  background: #ffffff; }
  .relationship-section .section-title {
    margin-bottom: 50px; }
  .relationship-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 50px; }

.relationship-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .relationship-item__img {
    margin-bottom: 30px; }
    .relationship-item__img img {
      width: 100%; }

@media (max-width: 768px) {
  .relationship-section .container {
    grid-template-columns: 1fr;
    grid-gap: 50px; }
  .relationship-item {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-gap: 40px; }
    .relationship-item__img {
      margin-bottom: 0; } }

@media (max-width: 576px) {
  .relationship-item {
    grid-template-columns: 1fr;
    text-align: center; }
    .relationship-item__img {
      margin: 0 auto;
      max-width: 90px;
      margin-bottom: 0; } }

.requirements-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  height: auto;
  padding: 90px 0; }
  .requirements-section .section-title {
    color: #fff;
    margin-bottom: 50px; }
  .requirements-section .container {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-gap: 0 100px; }

.requirements-content .section-p {
  color: #fefefe;
  margin-bottom: 30px; }

@media (max-width: 768px) {
  .requirements-section .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 40px; }
  .requirements-img {
    -ms-flex-item-align: center;
        align-self: center; } }

@media (max-width: 768px) {
  .requirements-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center; }
  .requirements-img {
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 30px; } }

.user-section {
  padding-top: 140px;
  padding-bottom: 160px;
  background: #fff; }
  .user-section .section-title {
    margin-bottom: 30px; }

.user-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, minmax(auto, 33%));
  grid-gap: 40px;
  width: 100%; }

.user-item {
  display: grid;
  grid-template-columns: 1fr 70%;
  grid-gap: 0 3%;
  width: 100%; }
  .user-item__img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .user-item__img img {
      border-radius: 100%; }
  .user-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25px; }
    .user-item__info-name {
      color: #000;
      font-family: "Overpass";
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      overflow: hidden;
      width: 100%; }
    .user-item__info span {
      color: #4c4b4b;
      font-family: "Source Sans Pro";
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      -o-text-overflow: ellipsis;
         text-overflow: ellipsis;
      white-space: nowrap;
      /* Запрещаем перенос строк */
      overflow: hidden;
      width: 100%; }

@media (max-width: 768px) {
  .user-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .user-item__img {
      justify-self: center; }
    .user-item__info {
      margin-top: 15px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; }
      .user-item__info-name {
        margin-bottom: 15px;
        text-align: center; }
      .user-item__info span {
        text-align: center; } }

@media (max-width: 576px) {
  .user-wrapper {
    grid-template-columns: 1fr; } }

.register-section {
  padding-bottom: 150px;
  background: #fff; }
  .register-section .section-title {
    margin-bottom: 20px; }
  .register-section .attention-title {
    margin-bottom: 60px; }

.register-form__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
  margin-bottom: 10px; }

.register-form__bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 30px; }

.register-form .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .register-form .input-wrapper label {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    padding: 0 5px;
    display: block;
    top: 16px;
    left: 20px;
    color: #8d8c8c;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .register-form .input-wrapper .input-error {
    color: red;
    font-size: 12px;
    font-weight: 400;
    background: #fff;
    margin-left: 20px;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .register-form .input-wrapper .input-file {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: -999999px;
    z-index: -1; }
  .register-form .input-wrapper .label-file {
    width: 100%;
    height: 55px;
    outline: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
    position: relative;
    cursor: pointer; }
    .register-form .input-wrapper .label-file__silver {
      border-radius: 4px;
      border-radius: 4px 0px 0px 4px;
      border: 1px solid #b7b7b7;
      height: 100%;
      padding: 0 20px;
      color: #8d8c8c;
      font-family: "Source Sans Pro";
      font-size: 16px;
      font-weight: 400;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
    .register-form .input-wrapper .label-file__orange {
      border-radius: 0 4px 4px 0;
      border: 2px solid #ef6c00;
      padding: 0px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      color: #ef6c00;
      font-family: "Source Sans Pro";
      font-size: 20px;
      font-weight: 700; }

.register-form__input {
  height: 55px;
  border-radius: 4px;
  border: 1px solid #b7b7b7;
  outline: none;
  padding: 0 15px;
  color: #8d8c8c;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .register-form__input option {
    background: #fff;
    height: 55px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400; }
    .register-form__input option:checked {
      color: #ef6c00; }
    .register-form__input option:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#ff0a0a), color-stop(50%, #ff0000), color-stop(100%, #ff0000), to(#ff0000));
      background: -o-linear-gradient(top, #ff0a0a 0%, #ff0000 50%, #ff0000 100%, #ff0000 100%);
      background: linear-gradient(to bottom, #ff0a0a 0%, #ff0000 50%, #ff0000 100%, #ff0000 100%); }
  .register-form__input:focus {
    border: 1.5px solid #b7b7b7; }
  .register-form__input:focus ~ label {
    top: -10px;
    color: #8d8c8c;
    font-size: 12px;
    font-weight: 400;
    background: #fff; }
  .register-form__input:valid ~ label {
    top: -10px;
    left: 5px;
    color: #8d8c8c;
    font-size: 13px;
    font-weight: 400;
    background: #fff; }
  .register-form__input:invalid:not(:placeholder-shown) {
    border: 1px solid red; }
  .register-form__input:invalid:not(:placeholder-shown) ~ label {
    top: -10px;
    color: red;
    font-size: 12px;
    font-weight: 400;
    background: #fff; }
  .register-form__input:invalid:not(:placeholder-shown) ~ .input-error {
    opacity: 1; }

.register-form .input-file {
  width: 0px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  left: -999999px;
  z-index: -1; }

.register-form .label-file {
  width: 100%;
  height: 55px;
  outline: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
  position: relative;
  cursor: pointer; }
  .register-form .label-file__silver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #b7b7b7;
    padding: 0 20px;
    color: #8d8c8c;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .register-form .label-file__orange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0 4px 4px 0;
    border: 2px solid #ef6c00;
    padding: 0px 30px;
    height: 100%;
    color: #ef6c00;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-left: -1px; }
    .register-form .label-file__orange img {
      display: none; }
  .register-form .label-file:hover .label-file__silver {
    border: 1.5px solid #b7b7b7;
    color: #b7b7b7; }
  .register-form .label-file:hover .label-file__orange {
    background: #ff943d;
    color: #fff; }

.register-form .input-file-span {
  color: #8d8c8c;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px; }

@media (max-width: 576px) {
  .register-form__top {
    grid-template-columns: repeat(1, 1fr); }
  .register-form__bottom {
    grid-template-columns: repeat(1, 1fr); }
  .register-form .label-file {
    grid-template-columns: 1fr 55px; }
    .register-form .label-file__orange {
      font-size: 0;
      padding: 0; }
      .register-form .label-file__orange img {
        display: block; } }

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #283593;
  padding: 30px 0;
  z-index: 0; }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-logo {
    max-width: 135px; }
    .footer-logo a {
      width: 100%; }
      .footer-logo a img {
        width: 100%; }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-menu li {
      margin-right: 30px; }
      .footer-menu li a {
        color: #fff;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 400;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .footer-menu li:last-child {
        margin-right: 0; }
      .footer-menu li:hover a {
        color: #ef6c00; }
  .footer hr {
    color: #5674b9;
    /*для IE */
    background-color: #5674b9;
    /*для Firefox, Opera, Safari*/
    border: 0px none;
    height: 1px;
    /* высота 1px IE, Firefox, Opera, Safari */
    width: 100%;
    margin: 30px 0; }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px; }
    .footer-grid__contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer-grid__contacts li {
        margin-bottom: 20px; }
        .footer-grid__contacts li a {
          color: #fff;
          font-family: "Source Sans Pro";
          font-size: 20px;
          font-weight: 400;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .footer-grid__contacts li a img {
            margin-right: 10px; }
        .footer-grid__contacts li:last-child {
          margin-bottom: 0; }
        .footer-grid__contacts li:hover a {
          color: #ef6c00; }
    .footer-grid__menus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .footer-grid__ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .footer-grid__ul li {
        margin-bottom: 10px; }
        .footer-grid__ul li a {
          color: #fff;
          font-family: "Source Sans Pro";
          font-size: 16px;
          font-weight: 400;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .footer-grid__ul li:last-child {
          margin-bottom: 0; }
        .footer-grid__ul li:hover a {
          color: #ef6c00; }
  .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-links .footer-copyright {
      color: #fff;
      font-family: "Source Sans Pro";
      font-size: 12px;
      font-weight: 400; }
    .footer-links .footer-socials {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-links .footer-socials li {
        margin-right: 20px; }
        .footer-links .footer-socials li a {
          width: 100px;
          height: 100%; }
        .footer-links .footer-socials li:last-child {
          margin-right: 0; }

@media (max-width: 576px) {
  .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-logo {
    margin-bottom: 20px; }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer-menu li {
      margin-right: 0;
      margin-bottom: 10px; }
  .footer-grid {
    grid-template-columns: 1fr; }
    .footer-grid__contacts {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer-grid__menus {
      display: none; }
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .footer-socials {
    margin-bottom: 20px; } }
